modules = ["web", "java-graalvm22.3", "nodejs-20", "bash"]
run = "mvn spring-boot:run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "mvn spring-boot:run"]

[workflows]
runButton = "Run Dev"

[[workflows.workflow]]
name = "Run Dev"
author = 40845590
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run-dev.sh"
